# Gradle
.gradle/
.kotlin/
**/build/

# Local config
/local.properties

# Native build
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# APK / AAB
*.apk
*.aab

# Misc
/captures