<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.appsbyalok.echohunter">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Echo Hunter"
        android:enableOnBackInvokedCallback="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"
        tools:targetApi="33">

        <activity
            android:name="com.appsbyalok.echohunter.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>